h1 {
	font-family: 'Shrikhand', cursive;
	font-size: 4rem;
}

p, a {
	font-family: 'Duru Sans', sans-serif;
	font-size: 1.1rem;
	line-height: 1.5em;
}

html, body {
	font-size: 12px;
}

a {
	color: #1A4B84;
}

// a:focus {
// 	color: lighten(#1A4B84, 10%);
// 	box-shadow: 0px 0px 0px 3px inset green;
// }

a:focus {
	color: darken(#1A4B84, 10%);
	display: inline-block;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		top: -1px;
		bottom: -1px;
		left: -7px;
		right: -7px;
		border: solid 3px limegreen;
	}
}

a:visited {
	color: #841D13;
}

@media (min-width: 768px) {
	html, body {
		font-size: 16px;
	}
}