---
layout: main.hbs
---

<div class="split">

	<nav class="split__nav">
		<a href="#panel1">Panel 1</a>
		<a href="#panel2">Panel 2</a>
		<a href="#panel3">Panel 3</a>
	</nav>

	<ul class="split__contents">
		
		<li class="split-panel">
			<a class="split-panel__id" id="panel1" data-split-selected-class="split--panel1">Panel 1 title</a>

			<div class="split-panel__content">
				{{>panel_1 }}
			</div>
		</li>
		
		
		<li class="split-panel">
			<a class="split-panel__id" id="panel2" data-split-selected-class="split--panel2">Panel 2 title</a>

			<div class="split-panel__content">
				{{>panel_2 }}
			</div>
		</li>
		
		
		<li class="split-panel">
			<a class="split-panel__id" id="panel3" data-split-selected-class="split--panel3">Panel 3 title</a>

			<div class="split-panel__content">
				{{>panel_3 }}
			</div>
		</li>
		
	</ul>

</div>