

<section class="content-page content-page__2">
	
	<div class="content-page__header">
		<h1>
			Panel 2
		</h1>
	</div>
		
	<div class="content-page__body">
		<p>
			I have seen a few carousel-type components around that have a 50-50 split, with content appearing from top and bottom.
		</p>

		<p>
			Created this one that has a wipe-effect on it as well, adding more movement to the component.
		</p>

		<p>
			You can have anything in the carousel, eg. images, text, links, other animated elements.
		</p>
		
		<p>
			Also allows content to be available if the user has disabled JS.
		</p>
		
		<p>
			<a href="https://gitlab.com/rosswritescode/split-carousel" target="_blank">GitLab repo</a>
		</p>
	</div>
		
</section>
