
// Reste styles
@import "_normalize";

@import "_variables";
@import "base/_typography";


nav {
	position: fixed;
	z-index: 10;
	right: 0;
	background-color: white;

	a {
		display: inline-block;
		padding: 1rem;
	}
}