 <!DOCTYPE html>
 <html>
	<head>
		<meta charset="utf-8">
		<title>
			Split carousel demo
		</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Split carousel demo.">
		<meta name="author" content="Ross Kelly">

		<link href="https://fonts.googleapis.com/css?family=Duru+Sans|Shrikhand"  rel="stylesheet" />
		<link rel="stylesheet" href="css/main.css" media="all">
	</head>

	<body>

		{% body %}

		<script src="js/polyfills.js"></script>
		<script src="js/all.min.js"></script>
	</body>
</html>