
.content-page {
	padding: 2rem;
	
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	overflow: auto;

	height: 100%;
	width: 100%;

	background-size: cover;
	background-position: 50%;
}

// Panel backgroudn color
.content-page__1 {
	background-color: black;
	background-image: url('../images/night.jpg');

	h1 {
		color: palevioletred;
	}
}

.content-page__2 {
	background-color: goldenrod;
	background-image: url('../images/waterfall.jpg');
}

.content-page__3 {
	background-color: palevioletred;
	background-image: url('../images/bear.jpg');
}

// Whole page background color
.split {
	transition: 0.2s;
}

.split--panel1 {
	background-color: palevioletred;
}

.split--panel2 {
	background-color: #233717;
}

.split--panel3 {
	background-color: goldenrod;
}

.content-page h1 {
	margin: 0 0 2rem 0;
}


.content-page p {
	max-width: 40rem;
}

.content-page__header {
	display: flex;
	
	h1 {
		margin: 0;
		font-size: 5rem;
	}
}

.content-page__body {
	text-align: center;
	box-shadow: 0 0 45px rgba(255, 255, 255, 0.9);
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	padding: 1rem;
}

.bear-logo {
	max-width: 100%;
}

@media (min-width: 768px) {
	.content-page {
		
	}
}