
$panelMargin: 3rem;
$panelWidth: calc(100vw - #{$panelMargin * 2});
$panelHeight: calc(100vh - #{$panelMargin * 2});


$panelMarginDesktop: 6rem;
$panelWidthDesktop: calc(100vw - #{$panelMarginDesktop * 2});
$panelHeightDesktop: calc(100vh - #{$panelMarginDesktop * 2});

$verticalAnimationTime: 1s;
$horizontalAnimationTime: 0.8s;

.split {
	padding: $panelMargin;
}

.split__contents {
	padding: 0;
	margin: 0;

	width: $panelWidth;
	
	position: relative;

	overflow: hidden;
	transition: background-color $verticalAnimationTime;

	.js & {
		height: $panelHeight;
	}
}

.split-panel__id {
	display: none;
}

.split-panel {
	.js & {
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		z-index: -1;
	}
}

.split-panel__content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: $panelWidth;
	height: $panelHeight;
	
	.js & {
		position: absolute;
		top: 0;
		bottom: 0;
		height: auto;
	}
}

.split-panel__split {
	.js & {
		position: absolute;
		top: 0;
		bottom: 0;
		overflow: hidden;
	}
}


.split-panel__split--left{
	left: 0;
	right: 50%;
	z-index: 1;

	transform: translateY(-100%);

	filter: brightness(150%) hue-rotate(90deg);
}

.split-panel__split--right{
	right: 0;
	left: 50%;
	
	transform: translateY(100%);
	
	.split-panel__content {
		right: 0;
	}
}

	
.split-panel.split-panel--show {
	z-index: 2;
	
	.split-panel__split {
		transform: translateY(0);
		transition: $verticalAnimationTime;
	}
	
	.split-panel__split--left {
		animation: slideOut $horizontalAnimationTime forwards;
		animation-delay: $verticalAnimationTime;
	}
	
	.split-panel__split--right{
		animation: slideOut2 $horizontalAnimationTime forwards;
		animation-delay: $verticalAnimationTime;
	}
}

.split-panel.split-panel--hiding {
	z-index: 1;

	.split-panel__split {
		transition: $verticalAnimationTime;
		filter: opacity(1); // TODO reset properly
	}

	.split-panel__split--left {
		transform: translateY(100%);
	}
	
	.split-panel__split--right{
		transform: translateY(-100%);
	}
}

@keyframes slideOut {
	0% {
		right: 50%;
	}
	
	100% {
			right: 100%;
	}
}

@keyframes slideOut2 {
	0% {
		left: 50%;
	}
	
	100% {
		left: 0;
	}
}



@media (min-width: 768px) {
	.split {
		padding: $panelMarginDesktop;
	}
	
	.split__contents {	
		width: $panelWidthDesktop;
			
		.js & {
			height: $panelHeightDesktop;
		}
	}
		
	.split-panel__content {
		width: $panelWidthDesktop;
		height: $panelHeightDesktop;
	}
}